body {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	background-image: -webkit-radial-gradient(top left, #eaeaea 0%, #DBE2E6 100%); 
	background-image: -moz-radial-gradient(right bottom, #eaeaea 0%, #DBE2E6 100%); 
	background-image: -o-radial-gradient(#eaeaea 0%, #DBE2E6 100%); 	
	background-image: radial-gradient(#eaeaea 0%, #DBE2E6 100%);
	font-size: 330px;
}

@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -o-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -ms-transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}

 #container {
  -webkit-perspective : 1000px;
  -moz-perspective    : 1000px;
  -o-perspective      : 1000px;
  -ms-perspective     : 1000px;
  perspective         : 1000px;

  -webkit-perspective-origin  : 50% 50% ;
  -moz-perspective-origin     : 50% 50%;
  -moz-transform-origin       : 50% 50%;
  -o-perspective-origin       : 50% 50%;
  -ms-perspective-origin      : 50% 50%;
  perspective-origin          : 50% 50%;
 }

.animate {
  -webkit-animation : spinningH 20s infinite linear;
  -moz-animation    : spinningH 20s infinite linear;
  -o-animation      : spinningH 20s infinite linear;
  -ms-animation     : spinningH 20s infinite linear;
  animation         : spinningH 20s infinite linear;
}
#cube {
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  margin-top: 200px;

  -webkit-transition  : -webkit-transform 2s linear;
  -moz-transition     : -moz-transform 2s linear;
  -o-transition       : -o-transform 2s linear;
  -ms-transition      : -ms-transform 2s linear;
  transition          : transform 2s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 300px;
  width: 300px;
  padding: -20px;
  opacity: 0.3;
  background-image: -webkit-linear-gradient(135deg, top left, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -moz-linear-gradient(135deg, right bottom, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -o-linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%); 	
	background-image: linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%);
}

#cube div:nth-child(1) {
  -webkit-transform : translateZ(150px);
  -moz-transform    : translateZ(150px);
  -o-transform      : translateZ(150px);
  -ms-transform     : translateZ(150px);
  transform         : translateZ(150px);
  background-image: -webkit-linear-gradient(135deg, top left, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -moz-linear-gradient(135deg, right bottom, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -o-linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%); 	
	background-image: linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%);
}

#cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(150px);
  -moz-transform    : rotateY(90deg) translateZ(150px);
  -o-transform      : rotateY(90deg) translateZ(150px);
  -ms-transform     : rotateY(90deg) translateZ(150px);
  transform         : rotateY(90deg) translateZ(150px);
  background-image: -webkit-linear-gradient(135deg, top left, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -moz-linear-gradient(135deg, right bottom, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -o-linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%); 	
	background-image: linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%);
}

#cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(150px);
  -moz-transform    : rotateY(180deg) translateZ(150px);
  -o-transform      : rotateY(180deg) translateZ(150px);
  -ms-transform     : rotateY(180deg) translateZ(150px);
  transform         : rotateY(180deg) translateZ(150px);
  background-image: -webkit-linear-gradient(135deg, top left, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -moz-linear-gradient(135deg, right bottom, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -o-linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%); 	
	background-image: linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%);
}

#cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(150px);
  -moz-transform    : rotateY(-90deg) translateZ(150px);
  -o-transform      : rotateY(-90deg) translateZ(150px);
  -ms-transform     : rotateY(-90deg) translateZ(150px);
  transform         : rotateY(-90deg) translateZ(150px);
  background-image: -webkit-linear-gradient(135deg, top left, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -moz-linear-gradient(135deg, right bottom, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -o-linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%); 	
	background-image: linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%);
}

#cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(150px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(150px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(150px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(150px) rotate(180deg);
  background-image: -webkit-linear-gradient(135deg, top left, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -moz-linear-gradient(135deg, right bottom, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -o-linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%); 	
	background-image: linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%);
}

#cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(150px);
  -moz-transform    : rotateX(90deg) translateZ(150px);
  -o-transform      : rotateX(90deg) translateZ(150px);
  -ms-transform     : rotateX(90deg) translateZ(150px);
  transform         : rotateX(90deg) translateZ(150px);
  background-image: -webkit-linear-gradient(135deg, top left, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -moz-linear-gradient(135deg, right bottom, #185198 0%, #34ac94 50%, #c63215 100%); 
	background-image: -o-linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%); 	
	background-image: linear-gradient(135deg, #185198 0%, #34ac94 50%, #c63215 100%);
  text-align: center;
}